body{
    background-image: url("images/stars.jpg");
    background-size: contain;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.questen_footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.4);
    padding-top: 12px;
    align-items: center;
}
.quiz_card{
    width: 30rem;
}
.quiz_answer_card:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.bg-success, .bg-danger{
    color: white;
}
.width_100{
    width: 100%;
}
.text_center{
    text-align: center;
}
.final_headline{
    font-size: 32px;
    margin-bottom: 24px;
}